footer {
    width: 100%;
    background: var(--gray-footer);
    color: var(--gray-primary);
    padding: 8px 0px 8px 0px;    
    line-height: 16px;
}
footer ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
}

footer .menu {
    width: 220px;
}

footer .menu a {
    color: var(--gray-primary);;
    text-decoration: none;
}

footer .menu a :hover{
    color: var(--red-error);
}

.Footer_container{
    max-width: 824px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 520px) {
    footer {
        padding: 12px 16px; 
    }
    .Footer_container{
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
    }
    .company {
        margin-top: 8px;
    }
}